html
  head
    title LOTTEREO DRAW
  body
    h1 Here is the drawo
    div The Pot is #{pot}
    div Drawn #{drawn}  
    div numTickets #{numTickets}
    div drawDate #{drawDate}
    div payout #{payout}
    div winningNumber #{winningNumber}
    div 
      a(href="/draw/#{nextDraw}") nextDraw
    div 
      a(href="/draw/#{previousDrawAddress}") previousDrawAddress
